*.binlog
*.hprof
*.xcworkspace/
*.zip
.DS_Store
.gradle/
.idea/
.vs/
.xcode.env
Pods/
build/
dist/*
!dist/.gitignore
local.properties
msbuild.binlog
node_modules/

# Configuration and credential files
android/app/google-services.json
ios/GoogleService-Info.plist
!src/config/config.example.ts
src/config/*
